.commdityAll .format .colorAll .list-group .one {
  background-color: #8E2F19; }

.commdityAll .format .colorAll .list-group .two {
  background-color: #3D3A40;
  margin-left: 20px; }

.commdityAll .format .colorAll .list-group .three {
  background-color: #F8B200;
  margin-left: 20px; }
