.commdityAll .format .colorAll .list-group .one {
  background-color: #6b623d; }

.commdityAll .format .colorAll .list-group .two {
  margin-left: 20px; }

.commdityAll .format .colorAll .list-group .three {
  margin-left: 20px; }
