.commdityAll .format .colorAll .list-group .one {
  background-color: #67B0EB; }

.commdityAll .format .colorAll .list-group .two {
  background-color: #56573E;
  margin-left: 20px; }

.commdityAll .format .colorAll .list-group .three {
  background-color: #535664;
  margin-left: 20px; }
