.commdityAll .format .colorAll .list-group .one {
  background-color: #C4BBC3; }

.commdityAll .format .colorAll .list-group .two {
  background-color: #433D45;
  margin-left: 20px; }

.commdityAll .format .colorAll .list-group .three {
  background-color: #39466A;
  margin-left: 20px; }
