* {
  position: relative;
  font-family: 'Cabin', sans-serif; }

body, html {
  padding: 0px;
  margin: 0px;
  width: 100%; }
  body .loading, html .loading {
    top: 0px;
    left: 0px;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 999999; }
    body .loading p, html .loading p {
      font-size: 38px;
      left: 50%;
      top: 55%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      position: absolute;
      z-index: 9999999;
      color: #555;
      font-family: 'Playball', cursive;
      letter-spacing: 5px;
      font-weight: 200;
      font-size: 40px; }
    body .loading img, html .loading img {
      left: 50%;
      top: 45%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      position: absolute;
      width: 250px;
      height: 180px; }
  body .three, html .three {
    width: 100%; }
    body .three .threeAll, html .three .threeAll {
      width: 100%;
      overflow: hidden; }
      body .three .threeAll .header, html .three .threeAll .header {
        width: 100%;
        height: 100%; }
        body .three .threeAll .header .opening, html .three .threeAll .header .opening {
          z-index: 995;
          position: relative;
          height: 100vh;
          width: 100%;
          background-image: url("../OE9T940.jpg");
          background-position: content;
          background-size: cover;
          overflow: hidden; }
          body .three .threeAll .header .opening .headerLogo, html .three .threeAll .header .opening .headerLogo {
            z-index: 997;
            top: 33%;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            max-width: 200px;
            max-height: 200px; }
            body .three .threeAll .header .opening .headerLogo img, html .three .threeAll .header .opening .headerLogo img {
              height: 100%;
              width: 100%; }
          body .three .threeAll .header .opening .mose, html .three .threeAll .header .opening .mose {
            position: absolute;
            width: 50px;
            height: 50px;
            bottom: 120px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
            body .three .threeAll .header .opening .mose img, html .three .threeAll .header .opening .mose img {
              height: 100%;
              width: 100%; }
          body .three .threeAll .header .opening .scroll, html .three .threeAll .header .opening .scroll {
            position: absolute;
            width: 20px;
            height: 20px;
            bottom: 80px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
            body .three .threeAll .header .opening .scroll img, html .three .threeAll .header .opening .scroll img {
              height: 100%;
              width: 100%; }
      body .three .threeAll .contentTitle, html .three .threeAll .contentTitle {
        opacity: 0;
        z-index: 997;
        top: 100%;
        background-color: #fff; }
        body .three .threeAll .contentTitle .title, html .three .threeAll .contentTitle .title {
          position: fixed;
          width: 100%;
          top: 10px; }
          body .three .threeAll .contentTitle .title img, html .three .threeAll .contentTitle .title img {
            top: 30px;
            z-index: 999;
            left: 50%;
            -webkit-transform: translateX(-50%) translateY(-55%);
            -ms-transform: translateX(-50%) translateY(-55%);
            transform: translateX(-50%) translateY(-55%);
            width: 80px;
            position: absolute; }
          body .three .threeAll .contentTitle .title hr, html .three .threeAll .contentTitle .title hr {
            border-color: #ddd;
            border-style: dashed;
            border-width: 0.5px;
            border-top: 0px;
            padding: 0px;
            margin: 0px; }
        body .three .threeAll .contentTitle .test, html .three .threeAll .contentTitle .test {
          width: 400px;
          height: 200px; }
      body .three .threeAll .contentPhoto .space, html .three .threeAll .contentPhoto .space {
        z-index: 99;
        background-color: #fff;
        width: 100%;
        height: 100%; }
        body .three .threeAll .contentPhoto .space .imageAll, html .three .threeAll .contentPhoto .space .imageAll {
          z-index: 99;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          top: 0px;
          width: 100%;
          height: 100%;
          position: fixed; }
          body .three .threeAll .contentPhoto .space .imageAll .image, html .three .threeAll .contentPhoto .space .imageAll .image {
            position: absolute;
            margin: 0px auto;
            padding: 0px;
            bottom: 0px;
            top: 50%;
            left: 50%;
            -webkit-transform: translateX(-50%) translateY(-50%);
            -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%); }
            body .three .threeAll .contentPhoto .space .imageAll .image img, html .three .threeAll .contentPhoto .space .imageAll .image img {
              width: 100%; }
          body .three .threeAll .contentPhoto .space .imageAll .oneSpace, html .three .threeAll .contentPhoto .space .imageAll .oneSpace {
            position: absolute;
            background-color: white;
            width: 100%;
            height: 100%; }
          body .three .threeAll .contentPhoto .space .imageAll .twoWhite, html .three .threeAll .contentPhoto .space .imageAll .twoWhite {
            background-color: white; }
          body .three .threeAll .contentPhoto .space .imageAll .white, html .three .threeAll .contentPhoto .space .imageAll .white {
            background-color: white;
            position: absolute;
            width: 100%;
            height: 100%; }
          body .three .threeAll .contentPhoto .space .imageAll .imageBig, html .three .threeAll .contentPhoto .space .imageAll .imageBig {
            top: 0px;
            left: 0px;
            -webkit-transform: translateX(0%) translateY(0%);
            -ms-transform: translateX(0%) translateY(0%);
            transform: translateX(0%) translateY(0%);
            width: 100%;
            display: none;
            height: 100vh;
            background-color: white; }
            body .three .threeAll .contentPhoto .space .imageAll .imageBig img, html .three .threeAll .contentPhoto .space .imageAll .imageBig img {
              width: 100%;
              height: 100%; }
          body .three .threeAll .contentPhoto .space .imageAll .imgPhone img, html .three .threeAll .contentPhoto .space .imageAll .imgPhone img {
            height: 70%; }
          body .three .threeAll .contentPhoto .space .imageAll .phonePhoto, html .three .threeAll .contentPhoto .space .imageAll .phonePhoto {
            position: absolute;
            margin: 0px auto;
            padding: 0px;
            bottom: 0px;
            left: 50%;
            top: 0%;
            -webkit-transform: translateX(-50%) translateY(0%);
            -ms-transform: translateX(-50%) translateY(0%);
            transform: translateX(-50%) translateY(0%); }
            body .three .threeAll .contentPhoto .space .imageAll .phonePhoto .photo, html .three .threeAll .contentPhoto .space .imageAll .phonePhoto .photo {
              width: 100%;
              height: auto; }
              body .three .threeAll .contentPhoto .space .imageAll .phonePhoto .photo img, html .three .threeAll .contentPhoto .space .imageAll .phonePhoto .photo img {
                background-color: #fff;
                width: 100%; }
          body .three .threeAll .contentPhoto .space .imageAll .image0-6, html .three .threeAll .contentPhoto .space .imageAll .image0-6 {
            padding: 0px;
            margin: 0px;
            position: relative; }
            body .three .threeAll .contentPhoto .space .imageAll .image0-6 img, html .three .threeAll .contentPhoto .space .imageAll .image0-6 img {
              padding: 0px;
              margin: 0px;
              background-position: bottom;
              vertical-align: bottom; }
            body .three .threeAll .contentPhoto .space .imageAll .image0-6 .buttonTop, html .three .threeAll .contentPhoto .space .imageAll .image0-6 .buttonTop {
              right: 10%;
              top: 10%;
              position: absolute; }
              body .three .threeAll .contentPhoto .space .imageAll .image0-6 .buttonTop .goTop, html .three .threeAll .contentPhoto .space .imageAll .image0-6 .buttonTop .goTop {
                font-size: 8px;
                color: #333;
                text-decoration: none;
                padding: 2px 7px;
                border-radius: 2px;
                background-color: rgba(255, 255, 255, 0.3); }
          body .three .threeAll .contentPhoto .space .imageAll .image0-5::after, html .three .threeAll .contentPhoto .space .imageAll .image0-5::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: white; }
          body .three .threeAll .contentPhoto .space .imageAll .image0-5 img, html .three .threeAll .contentPhoto .space .imageAll .image0-5 img {
            width: 100%; }
          body .three .threeAll .contentPhoto .space .imageAll #start, html .three .threeAll .contentPhoto .space .imageAll #start {
            opacity: 0; }
          body .three .threeAll .contentPhoto .space .imageAll .image, html .three .threeAll .contentPhoto .space .imageAll .image {
            display: none; }
          body .three .threeAll .contentPhoto .space .imageAll .content, html .three .threeAll .contentPhoto .space .imageAll .content {
            width: 40%;
            position: absolute;
            bottom: 20px;
            margin-bottom: 30px;
            line-height: 40px;
            display: inline-block;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
            body .three .threeAll .contentPhoto .space .imageAll .content h3, html .three .threeAll .contentPhoto .space .imageAll .content h3 {
              width: 100%;
              line-height: 60px;
              display: block;
              font-size: 38px;
              text-align: center; }
            body .three .threeAll .contentPhoto .space .imageAll .content h5, html .three .threeAll .contentPhoto .space .imageAll .content h5 {
              font-size: 30px;
              display: block;
              white-space: nowrap; }
              body .three .threeAll .contentPhoto .space .imageAll .content h5 span, html .three .threeAll .contentPhoto .space .imageAll .content h5 span {
                float: left;
                display: block;
                width: 180px; }
      body .three .threeAll .phoneBlock, html .three .threeAll .phoneBlock {
        display: block;
        display: none; }
      body .three .threeAll .PhoneLie, html .three .threeAll .PhoneLie {
        z-index: 999999;
        top: 0px;
        left: 0px;
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #eeeeee;
        overflow: hidden; }
        body .three .threeAll .PhoneLie h3, html .three .threeAll .PhoneLie h3 {
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          text-align: center;
          letter-spacing: 3px;
          font-size: 36px;
          color: #333;
          font-weight: 600; }

.productsMove {
  -webkit-animation: mymove 1s forwards;
  animation: mymove 1s forwards; }

@-webkit-keyframes loadingP {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes loadingP {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes mymove {
  20% {
    top: 60%; }
  100% {
    top: -10%; } }

@keyframes mymove {
  20% {
    top: 60%; }
  100% {
    top: -10%; } }

.scroll {
  -webkit-animation: scrollDown 3s infinite;
  animation: scrollDown 3s infinite; }

@-webkit-keyframes scrollDown {
  0% {
    bottom: 80px; }
  50% {
    bottom: 100px; }
  100% {
    bottom: 80px; } }

@keyframes scrollDown {
  0% {
    bottom: 80px; }
  50% {
    bottom: 100px; }
  100% {
    bottom: 80px; } }

@media screen and (max-width: 1024px) {
  .three .threeAll .contentPhoto .space .imageAll .col-5 {
    max-width: 70%; } }

@media screen and (max-width: 940px) {
  body .three .threeAll .header .opening .headerLogo {
    max-width: 150px;
    max-height: 150px; }
  body .three .threeAll .header .opening .mose {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  body .three .threeAll .header .opening .scroll {
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: 8%; }
  body .three .threeAll .contentPhoto .space .imageAll .imgPhone {
    height: 100vh; }
    body .three .threeAll .contentPhoto .space .imageAll .imgPhone img {
      height: 60%;
      height: auto; }
  body .three .threeAll .contentPhoto .space .imageAll .content {
    bottom: 40px;
    width: 100%; }
    body .three .threeAll .contentPhoto .space .imageAll .content h3 {
      width: 100%;
      line-height: 60px;
      display: block;
      font-size: 24px;
      text-align: center; }
    body .three .threeAll .contentPhoto .space .imageAll .content h5 {
      font-size: 18px;
      display: block;
      white-space: nowrap; }
      body .three .threeAll .contentPhoto .space .imageAll .content h5 span {
        text-align: left;
        float: left;
        display: block;
        width: 100px; }
  @-webkit-keyframes scrollDown {
    0% {
      bottom: 8%; }
    50% {
      bottom: 6%; }
    100% {
      bottom: 8%; } }
  @keyframes scrollDown {
    0% {
      bottom: 8%; }
    50% {
      bottom: 6%; }
    100% {
      bottom: 8%; } } }

@media screen and (max-width: 640px) {
  body .three .threeAll .header .opening .headerLogo {
    max-width: 100px;
    max-height: 100px; }
  body .three .threeAll .header .opening .mose {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  body .three .threeAll .header .opening .scroll {
    position: absolute;
    width: 15px;
    height: 15px; }
  body .three .threeAll .contentPhoto .space .imageAll .image {
    top: 45%; }
  body .three .threeAll .contentPhoto .space .imageAll .imageBig {
    top: 0%; }
  @-webkit-keyframes scrollDown {
    0% {
      bottom: 6%; }
    50% {
      bottom: 4%; }
    100% {
      bottom: 6%; } }
  @keyframes scrollDown {
    0% {
      bottom: 6%; }
    50% {
      bottom: 4%; }
    100% {
      bottom: 6%; } } }

@media screen and (max-width: 550px) {
  body .three .threeAll .contentPhoto .space .imageAll .content {
    bottom: 20%;
    width: 100%; }
    body .three .threeAll .contentPhoto .space .imageAll .content h5 {
      margin-left: 60px; }
      body .three .threeAll .contentPhoto .space .imageAll .content h5 span {
        width: 120px; } }

@media screen and (max-width: 370px) {
  body .three .threeAll .contentPhoto .space .imageAll .content {
    bottom: 20%;
    width: 100%; }
    body .three .threeAll .contentPhoto .space .imageAll .content h3 {
      font-size: 18px; }
    body .three .threeAll .contentPhoto .space .imageAll .content h5 {
      font-size: 14px;
      margin-left: 60px; }
      body .three .threeAll .contentPhoto .space .imageAll .content h5 span {
        width: 80px; } }
