body, html {
  margin: 0px auto;
  padding: 0px;
  background-color: #fff;
  position: relative; }

body {
  min-height: 100vh;
  padding-bottom: 180px; }

hr {
  width: 85%;
  background-color: #eee; }

.navHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative; }
  .navHeader button {
    border: 0px;
    margin: 30px; }
  .navHeader .navbar-brand {
    margin: 0px;
    padding: 0px; }
    .navHeader .navbar-brand .titleImg {
      top: 20px;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 90px;
      height: 60px;
      margin: 0px;
      padding: 0px; }
  .navHeader .navbar-collapse {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 90px; }
    .navHeader .navbar-collapse .active {
      margin: 0px 10px;
      width: 120px;
      text-align: center; }
      .navHeader .navbar-collapse .active a {
        cursor: pointer;
        text-align: center;
        width: 100%;
        display: inline-block; }
      .navHeader .navbar-collapse .active .dropdownLayer #pushAll {
        margin-left: 0px;
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        margin-left: -120px;
        position: absolute;
        z-index: 99;
        -webkit-padding-start: 0px;
        padding-inline-start: 0px;
        width: 360px; }
        .navHeader .navbar-collapse .active .dropdownLayer #pushAll li {
          text-align: center;
          width: 180px;
          background-color: #fff;
          color: rgba(0, 0, 0, 0.9); }
          .navHeader .navbar-collapse .active .dropdownLayer #pushAll li .layerTitle {
            font-size: 17px; }
          .navHeader .navbar-collapse .active .dropdownLayer #pushAll li .layerContent a {
            font-size: 16px;
            margin-bottom: 8px;
            text-decoration: none;
            color: rgba(0, 0, 0, 0.5); }
    .navHeader .navbar-collapse .nav-link:hover {
      color: #aaa; }

.catenaAll h2 {
  font-weight: 300;
  text-align: center;
  line-height: 60px;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.8); }

.catenaAll .htTitle {
  top: 10px;
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  .catenaAll .htTitle a {
    padding: 5px 15px;
    border-radius: 5PX;
    background-color: rgba(40, 40, 40, 0.3);
    font-weight: 300;
    margin-right: 30px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none; }
  .catenaAll .htTitle .HT-RB {
    background-color: rgba(0, 0, 0, 0.7); }
  .catenaAll .htTitle .HT-PU {
    background-color: rgba(0, 0, 0, 0.7); }
  .catenaAll .htTitle .HT-GL {
    background-color: rgba(0, 0, 0, 0.7); }
  .catenaAll .htTitle .HT-C {
    background-color: rgba(0, 0, 0, 0.7); }
  .catenaAll .htTitle .HT-A {
    background-color: rgba(0, 0, 0, 0.7); }

.catenaAll .previewAll {
  padding: 120px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .catenaAll .previewAll #testWhite {
    display: inline-block;
    width: 200px;
    height: 200px; }
    .catenaAll .previewAll #testWhite a {
      width: 100%;
      height: 100%; }
  .catenaAll .previewAll .card {
    height: auto;
    border: 0px; }
    .catenaAll .previewAll .card:hover {
      -webkit-animation: hand 0.7s both;
      animation: hand 0.7s both; }
    .catenaAll .previewAll .card a {
      text-decoration: none;
      color: #333; }
    .catenaAll .previewAll .card .card-text {
      width: 100%;
      font-weight: 400;
      font-size: 24px;
      white-space: nowrap;
      display: inline-block; }

@-webkit-keyframes hand {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.7; } }

@keyframes hand {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.7; } }

.coda {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 140px;
  background-color: #eee;
  padding: 15px 0PX;
  line-height: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .coda .text {
    float: left;
    display: inline-block;
    width: 100%;
    padding-left: 180px; }
    .coda .text h5 {
      width: 100%;
      display: inline-block;
      margin-bottom: 0px;
      font-size: 16px;
      color: #444;
      line-height: 25px; }
  .coda img {
    margin: 0px 20px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 90px;
    width: 130px; }

@media screen and (min-width: 992px) {
  .navHeader .navbar-collapse .active .dropdown-menu {
    border: 0px; }
  .navHeader .navbar-collapse .active .dropdownLayer #pushAll li .layerContent {
    display: block; } }

@media screen and (max-width: 991px) {
  .navHeader .navbar-collapse {
    margin-top: 0px; }
  .navHeader .navbar-collapse .active {
    width: 50%;
    margin: 0px auto;
    text-align: center; }
    .navHeader .navbar-collapse .active .dropdown-menu {
      min-width: 0rem;
      border: solid 0px; }
    .navHeader .navbar-collapse .active .dropdownLayer #pushAll {
      display: inline-block;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      position: relative;
      margin-left: 0px; }
      .navHeader .navbar-collapse .active .dropdownLayer #pushAll li {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px; }
        .navHeader .navbar-collapse .active .dropdownLayer #pushAll li .layerContent {
          display: none; }
  .box {
    margin-top: 30px; }
  .catenaAll .previewAll {
    padding: 30px 30px; }
  .coda img {
    width: 100px;
    height: 70px; }
  .coda .text {
    padding-left: 140px; } }

@media screen and (max-width: 768px) {
  .navHeader .navbar-collapse .active .dropdownLayer #pushAll {
    width: auto; }
    .navHeader .navbar-collapse .active .dropdownLayer #pushAll .layerTitle {
      font-size: 16px; }
      .navHeader .navbar-collapse .active .dropdownLayer #pushAll .layerTitle a {
        font-size: 12px; }
  .navHeader .navbar-brand .titleImg {
    width: 45px;
    height: 30px; }
  .navHeader .navbar-toggler {
    margin: 7px; }
  .catenaAll .htTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%; }
    .catenaAll .htTitle a {
      padding: 5px 15px;
      border-radius: 0PX;
      font-weight: 300;
      margin-right: 0px;
      font-size: 14px; }
  .coda {
    height: 140px; }
    .coda .text h5 {
      text-align: center;
      font-size: 14px;
      line-height: 18px; } }

@media screen and (max-width: 580px) {
  .catenaAll .htTitle a {
    font-size: 12px; }
  h2 {
    font-size: 26px; }
  .previewAll {
    padding-top: 30px; }
    .previewAll .card .card-text {
      font-weight: 200;
      font-size: 18px; }
  .coda {
    height: 150px; }
    .coda img {
      width: 80px;
      height: 50px; }
    .coda .text {
      padding-left: 100px; }
      .coda .text h5 {
        font-size: 12px;
        line-height: 18px; } }

@media screen and (max-width: 540px) {
  .navHeader .navbar-brand .titleImg {
    top: 10px; }
  .navHeader .navbar-toggler {
    margin: 0px; }
  .catenaAll .htTitle {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .catenaAll .htTitle a {
      text-align: center;
      width: 50%; } }

@media screen and (max-width: 438px) {
  .catenaAll .htTitle {
    width: 85%; }
    .catenaAll .htTitle a {
      width: 50%; }
  .coda {
    height: 190px; }
    .coda p {
      font-size: 12px; }
      .coda p span {
        display: inline-block; } }

@media screen and (max-width: 412px) {
  .catenaAll .htTitle {
    width: 96%; }
    .catenaAll .htTitle a {
      padding: 5px 10px;
      width: 50%; } }

@media screen and (max-width: 340px) {
  .coda {
    height: 180px; }
    .coda .text h5 {
      font-size: 12px;
      line-height: 16px; } }
