.commdityAll .format .colorAll .list-group .one {
  background-color: #9F4734; }

.commdityAll .format .colorAll .list-group .two {
  background-color: #3B3B3B;
  margin-left: 20px; }

.commdityAll .format .colorAll .list-group .three {
  background-color: #DAB300;
  margin-left: 20px; }
