.commdityAll .format .colorAll .list-group .one {
  background-color: #EEE; }

.commdityAll .format .colorAll .list-group .two {
  background-color: #303030;
  margin-left: 10px; }

.commdityAll .format .colorAll .list-group .three {
  background-color: #4158BE;
  margin-left: 10px; }

.commdityAll .format .colorAll .list-group .four {
  background-color: #F3D400;
  margin-left: 10px; }

.commdityAll .format .colorAll .list-group .five {
  background-color: #ED008E;
  margin-left: 10px; }
