.commdityAll .format .colorAll .list-group .one {
  background-color: #8C9698; }

.commdityAll .format .colorAll .list-group .two {
  background-color: #FE1017;
  margin-left: 20px; }

.commdityAll .format .colorAll .list-group .three {
  background-color: #295D29;
  margin-left: 20px; }

.commdityAll .format .colorAll .list-group .four {
  background-color: #3382F4;
  margin-left: 20px; }
