.commdityAll .format .colorAll .list-group .one {
  background-color: #541211; }

.commdityAll .format .colorAll .list-group .two {
  background-color: #313131;
  margin-left: 20px; }

.commdityAll .format .colorAll .list-group .three {
  background-color: #E17F00;
  margin-left: 20px; }
