.commdityAll .format .colorAll .list-group .one {
  background-color: #87cefa; }

.commdityAll .format .colorAll .list-group .two {
  background-color: #556b2f;
  margin-left: 20px; }

.commdityAll .format .colorAll .list-group .three {
  background-color: #696969;
  margin-left: 20px; }
